In [9]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import os
from sklearn.metrics import r2_score
import numpy as np

In [128]:
# read in median prices
housing = pd.read_csv('MedianPricesExisting.csv')
housing.head()

,Unnamed: 0,CA,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,...,Condo,LA Metro,Central Coast,Central Valley,Far North,Inland Empire,S.F. Bay Area,SoCal,Year,Month
0,138,248354.0,410952.0,NaN,148094.833333,NaN,NaN,NaN,NaN,106202.221519,...,190240.0,214422.041957,415000.0,NaN,NaN,141016.968856,452395.849093,231500.0,2000,12
1,150,281332.0,394957.0,NaN,152630.947368,187999.600000,NaN,NaN,NaN,128629.705479,...,214100.0,244760.660761,399000.0,NaN,NaN,162243.968634,452474.094543,274000.0,2001,12
2,162,338836.0,453079.0,NaN,200000.000000,233927.892857,NaN,NaN,NaN,150525.789474,...,253560.0,293909.842816,415000.0,NaN,NaN,185622.872131,489502.385192,324000.0,2002,12
3,174,401720.0,491495.0,NaN,221969.257576,323529.176471,NaN,NaN,NaN,198822.588235,...,310050.0,356069.497926,498500.0,NaN,NaN,237287.281442,564309.906003,333000.0,2003,12
4,186,474270.0,604392.0,327777.5,276743.651163,343749.562500,NaN,NaN,NaN,248537.040936,...,391050.0,435409.758287,595000.0,NaN,NaN,318143.166764,648550.130435,415000.0,2004,12

In [129]:
# read in median time

time = pd.read_csv('MedianTime.csv')
time.head()

,Unnamed: 0,CA,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,...,Condo,LA Metro,Central Coast,Central Valley,Far North,Inland Empire,SF Bay Area,SoCal,Year,Month
0,134,33.7,18.692352,NaN,NaN,NaN,18.464986,NaN,NaN,NaN,...,28.0,32.350296,31.0,NaN,NaN,50.445087,26.199956,44.0,2000,12
1,146,34.9,24.995069,NaN,NaN,NaN,24.155039,NaN,NaN,25.908929,...,29.0,37.682888,58.0,NaN,NaN,37.789412,37.269832,42.0,2001,12
2,158,28.1,23.019947,NaN,NaN,NaN,21.115607,NaN,NaN,22.366295,...,30.0,28.516618,40.0,NaN,NaN,29.299052,29.158183,35.0,2002,12
3,170,26.7,20.735692,NaN,77.675000,NaN,21.102273,NaN,NaN,25.072423,...,23.6,26.935140,33.0,NaN,NaN,25.370050,28.332475,23.0,2003,12
4,182,40.3,52.634921,50.9375,79.282609,NaN,47.163934,NaN,NaN,23.789899,...,31.7,36.764907,28.0,NaN,NaN,39.189525,33.057132,41.0,2004,12

In [86]:
# get list of counties only

counties = housing.columns.tolist()[1:-4]

In [88]:
# remove county that does not match
counties.remove('S.F. Bay Area')

In [130]:
# get ratio of median prices to time on market

final_df = pd.DataFrame()

counties_df = {}

for county in counties:

    transfer_county = housing[[f'{county}', 'Year']]
    
    transfer_time = time[[f'{county}', 'Year']]
    
    data_df = pd.merge(transfer_county, transfer_time, on='Year')
    
    data_df['Ratio'] = data_df[f'{county}_x'] / data_df[f'{county}_y']
    
    
    counties_df[county] = data_df['Ratio'].tolist()

In [126]:
# make into dataframe

ratio_df = pd.DataFrame(counties_df)

In [127]:
ratio_df['Year'] = housing['Year'].tolist()

In [105]:
#export as csv
ratio_df.to_csv('Ratio_Change.csv')

In [121]:
ratio_df

,CA,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,Glenn,...,Yuba,Unnamed: 53,Condo,LA Metro,Central Coast,Central Valley,Far North,Inland Empire,SoCal,Year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000
1,3.409176,-0.160606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.231854,0.875911,-0.086141,NaN,NaN,-0.390665,-3.257299,2001
2,-0.701303,-1.495123,NaN,NaN,NaN,NaN,NaN,NaN,-0.918382,NaN,...,NaN,NaN,4.668717,-0.520245,-0.085676,NaN,NaN,-0.434630,-0.771605,2002
3,-2.985382,-0.709524,NaN,NaN,NaN,NaN,NaN,NaN,2.250612,NaN,...,NaN,NaN,-0.671849,-2.973239,-0.789655,NaN,NaN,-1.405905,-0.051802,2003
4,0.453292,0.308218,NaN,9.761072,NaN,NaN,NaN,NaN,-3.710381,NaN,...,NaN,NaN,0.810638,0.681531,-0.908235,NaN,NaN,0.720722,0.450067,2004
5,2.204320,3.176411,0.025931,1.924841,NaN,NaN,NaN,NaN,1.292788,NaN,...,NaN,NaN,0.440682,0.933900,0.620000,NaN,NaN,1.976084,inf,2005
6,0.096069,0.006931,-0.047529,-0.291725,NaN,NaN,NaN,NaN,-0.041734,NaN,...,NaN,NaN,-0.056453,0.250338,-0.077561,NaN,NaN,0.065223,0.168285,2006
7,2.279654,-0.188855,0.716328,-0.310319,NaN,-0.435402,NaN,NaN,1.374228,-8.416667,...,5.216699,NaN,0.666051,-2.128334,-0.108966,NaN,NaN,-7.806741,-2.017045,2007
8,1.585663,1.242499,-0.499647,0.387303,NaN,0.777577,NaN,NaN,3.355032,-1.796475,...,0.260828,NaN,2.685002,1.580790,1.572240,NaN,NaN,1.091308,1.038462,2008
9,-0.245955,-0.299080,0.556214,-0.140536,NaN,-0.646147,NaN,NaN,0.083071,-0.022124,...,-0.490928,NaN,-0.399420,-0.115855,-0.314740,NaN,NaN,0.174026,-0.150121,2009
10,-0.017445,0.030339,0.176485,0.076213,NaN,-0.070630,NaN,1.679476,-0.049891,-1.185256,...,-0.264358,NaN,-0.301932,0.020306,0.061350,-0.074161,NaN,0.103889,0.022034,2010
11,-4.591175,0.771795,-1.284248,0.609420,NaN,0.177860,NaN,-1.097894,0.157071,-0.437271,...,-29.454285,NaN,-1.046028,26.276827,0.196256,0.538962,NaN,-0.537940,-0.808034,2011
12,-0.388720,-0.508452,-0.845988,-3.097540,NaN,-0.702416,NaN,-0.084149,-0.406654,0.886447,...,-0.474091,NaN,-0.297451,-0.822635,-0.283350,-0.204706,NaN,-0.835144,-0.457302,2012
13,3.182551,5.203890,-0.245920,0.367229,NaN,1.970912,NaN,5.366093,2.697315,-0.022115,...,-0.676312,NaN,-7.347322,14.820865,-2.971698,2.017960,NaN,12.420676,-6.492754,2013
14,0.361231,1.919092,0.645627,0.167026,0.995308,0.860766,0.922366,0.350955,0.358148,-0.214926,...,0.130271,NaN,1.354269,0.166884,0.012762,0.286301,NaN,0.139566,0.181176,2014
15,-0.627645,-1.153079,-0.487284,-0.631433,-2.351860,-0.349625,3.508475,4.778636,-1.718897,0.015952,...,-0.222888,NaN,-0.405939,-2.199901,-0.441224,-0.434341,NaN,-4.643106,inf,2015
16,-0.175625,-0.119070,-0.077004,-0.128292,-0.108595,-0.632316,-1.653070,-0.814527,-0.119476,0.296962,...,-0.071603,NaN,-0.093318,-0.125632,-0.000000,-1.005910,NaN,-0.289004,-0.178069,2016
17,-0.235176,-0.537896,-0.106557,0.705592,-0.039628,-0.333333,1.389509,-0.413333,-0.265063,-0.513834,...,-0.062836,NaN,-0.151651,-0.115198,-2.895817,-0.350370,0.362637,-0.162082,-0.153576,2017
18,0.091717,-0.030802,0.172071,1.228405,-1.983871,0.067055,0.231477,-0.069307,0.097092,-0.188061,...,1.912752,NaN,0.038017,0.045000,0.828711,0.127559,-4.180328,0.262024,0.064151,2018
19,-0.650501,-0.178673,-0.147200,-0.033998,0.296457,inf,0.443917,0.085806,-0.266862,-0.095238,...,-0.046714,NaN,-0.682683,-0.563636,-0.347429,-0.315205,-0.851852,-0.733210,-0.365217,2019
20,-0.092877,-0.137779,-0.100377,-0.027782,-0.342332,-0.068502,-1.693823,-0.073648,-0.094799,-0.040248,...,-0.059979,NaN,-0.127797,-0.066194,-0.061728,-0.076673,-0.089780,-0.066667,-0.064103,2020
21,1.184679,0.466667,-0.453356,0.169502,2.469939,0.403614,0.459738,0.351183,inf,0.190635,...,inf,NaN,-0.277506,1.579167,1.000000,0.611111,1.044855,1.166667,1.465395,2021
22,-0.049055,-0.342629,0.067667,-0.104345,-0.615128,-0.105038,11.057358,-0.185610,0.003617,-3.859634,...,0.028711,NaN,-0.063509,-0.008548,-0.061474,-0.073871,-0.152967,-0.015431,-0.015259,2022